/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--prime-color-3);
    padding: 1rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--shadow);
}
header nav {
    display: inherit;
    flex-direction: column;
    gap: 0.5rem;
}

header nav a {
    font-weight: 550;
    padding: 0.5rem;
    text-decoration: none;
    background-color: var(--accent-color-1);
    color: var(--text-light-1);
    border-radius: 100px;
    box-shadow: 0px 0px 15px var(--shadow);
}
header nav a:hover {
    color: none;
    background-color: var(--prime-color-2);
}
header nav a:active {
    transform: scale(0.9);
}

footer {
    color: var(--text-light-1);
    display: flex;
    display: row;
    margin: 3rem 0 6rem 0;
}
footer p {
    margin: auto 0;
    font-weight: bold;
}
footer .icon_nav {
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--prime-invserse-color);
    margin: 0 0 0 auto;
    display: inherit;
    box-shadow: 0px 0px 15px var(--shadow);
}
footer .icon {
    display: block;
    max-height: 35px;
    max-width: 35px;
    pointer-events: none;
    box-shadow: none;
}

.skills-banner {
    flex-wrap: wrap;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: .75rem;
}
.banner-skills {
    background-color: var(--accent-color-2);
    color: var(--text-dark-2);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: var(--text-light-1);
    box-shadow: 0px 0px 5px var(--shadow);
}

@media (max-width: 960px) {
    /*header {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    header,
    header nav {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 0;
        box-shadow: none;
    }
    header nav {
        margin: 0;
        column-gap: 3%;
    }
    header img {
        margin-left: 2%;
        max-height: 50px;
        transform: rotate(20deg);
    }
    header nav a {
        margin: 0;
        padding: 0.25rem 0.75rem;
        border-radius: 15px;
        font-size: 1.6rem;
    }*/
    footer {
        padding: 2.5rem;
    }
}
