:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Primary Colors */
    --prime-color-1: #09344f;
    --prime-color-2: #003f66;
    --prime-color-3: #004b7a;
    --prime-invserse-color: #e9ebec;

    /* Accent Colors */
    --accent-color-1: #166891;
    --accent-color-2: #047a8c;
    --accent-color-3: #07b0b0;

    /* Components Colors */
    --text-dark-1: #00375a;
    --text-dark-2: #002138;
    --text-light-1: #e9ebec;
    --text-light-2: #ffffff;
    --shadow: #00213860;
}

body {
    background: linear-gradient(
        135deg,
        var(--prime-color-1),
        var(--prime-color-2),
        var(--prime-color-3)
    );
    color: var(--text-dark-2);
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 1000;
    row-gap: 1rem;
    margin: 0 0 0 auto;
}
.sidebar img {
    box-shadow: none;
    padding-top: 2.5rem;
    transform: rotate(15deg);
}
.sidebar a img {
    box-shadow: none;
    padding-top: 0;
    transform: none;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    max-width: 1200px;
    margin: 0 auto 0 2.5rem;
}

section {
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 5rem auto;
}
section h2,
section h4 {
    text-align: center;
}
section h2 {
    font-size: 1.75rem;
    margin-bottom: 0rem;
}
section h4 {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.35rem;
}
section a {
    text-align: center;
}
.page {
    margin-top: 0.5rem;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-light-1);
}

/* Buttons */
.button {
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--accent-color-1);
    color: var(--text-light-1);
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.35rem;
    border-radius: 100px;
    font-weight: 800;
    border: 2px solid transparent;
    box-shadow: 0px 0px 15px var(--shadow);
}
.button:active {
    /*color: var(--text-dark-2);*/
    transform: scale(0.9);
}

/* Links */
a {
    color: var(--text-light-1);
}
a:hover {
    color: var(--accent-color-3);
}

/* Forms */
input,
textarea {
    border: 1px solid var(--prime-color-2);
}

input:focus,
textarea:focus {
    border-color: var(--accent-color-3);
    outline: none;
}

ul,
li {
    color: var(--text-light-2);
}
li a {
    text-decoration: none;
}

img {
    max-height: 512px;
    width: auto;
    display: block;
    border-radius: 0.35rem;
    margin: 0 1rem;
    box-shadow: 8px 8px 10px var(--shadow);
}

@media (max-width: 960px) {
    #app {
        flex-direction: column;
        position: relative;
    }

    .sidebar {
        width: 100%;
        height: 0;
        margin: 0;
    }

    main {
        width: 100%;
        padding-left: 0;
        margin: 0;
    }

    section {
        width: 95%;
    }
}
