@import "../../style.css";

.contacts {
    background-color: var(--prime-invserse-color);
    padding: 0.5rem;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 15px var(--shadow);
}
.contacts nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.contacts a {
    margin: 0 auto;
}
.contacts a img {
    box-shadow: none;
    margin: 0;
}
.contacts div {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
}

.icon {
    display: block;
    max-height: 35px;
    max-width: 35px;
    pointer-events: none;
}

@media (max-width: 960px) {
    #title {
        display: none;
    }
}

@media (max-width: 600px) {
    .contacts {
        padding: 0;
    }
    
    .contact nav {
        gap: 0.25rem;
    }
    
    .contacts nav a img {
        padding: .25rem;
    }

    .icon {
        max-height: 30px;
        max-width: 30px;
    }
}
